.chatroll-root {
  position: absolute;
  background-color: white;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;

  .chatContainer {
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 1;

    li.MuiListItem-gutters {
      padding-left: 4px;
      padding-right: 3px;
    }
    
    .chatMessage {
      box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
      width: 100%;
      hr {
        margin: 0;
        opacity: 0.7;
      }

      .header {
        display: inline-block;
        width: 100%;

        span {
          display: inline-block;          
        }

        .sender {
          float: left;
          font-weight: bold;
        }
    
        .time {
          float: right;
        }
      }
    }
    
    .MuiCardContent-root {
      padding: 5px;
    }

    .emote {
      background-color: rgba(245,222,179,0.5);

      .sender {
        font-weight: bold;
      }
    }

    .dm {
      background-color: rgba(165,42,42, 0.6);
    }

    .rollMessage {
      background-color: rgba(95,158,160, 0.6);

      .rawRoll {
        font-weight: 200;
        border: solid black 1px;
        padding: 0 3px;
      }

      .rollheader {
        div.diceContainer {
          border: solid 1px black;
          padding: 2px;
          display: inline-block;
          background-color: white;
          box-shadow: 1px 1px 3px $dark;

          div.die {
            display: inline-block;
            border: solid 1px black;
            padding: 2px 4px;
            font-weight: 400;
            font-size: 1rem;
            margin: 0 3px;

            box-shadow: inset 1px 1px 3px $dark;
          }

          .rollOp {
            display: inline-block;
            margin-left: 0.2rem;
            font-size: 1rem;
            margin-right: 0.3rem;
          }

          .high {
            background-color: rgba(165,42,42, 0.4);
          }

          .low {
            background-color: rgba(39,138,65,0.5);
          }
        }
      }

      .rollResult {
        border: solid 1px black;
        padding: 3px 5px;
        display: inline-block;
        margin-top: 5px;
        font-size: 1.4rem;
        background-color: white;
        box-shadow: inset 1px 1px 3px $dark;
      }
    }
  }

  form.chatInput {
    margin-bottom: 0.5rem;
    width: 100%;
    padding: 0 0.5rem;

    div.chatInputGrid {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      textarea {
        order: 0;
        flex-grow: 1;
        resize: none;
      }
  
      button {
        order: 1;
        width: 4rem;
      }
    }
    
  }
}