@import '../misc/settings';


div#characterSelectModal {
  background-image: url('../../assets/mountains.jpg') ; 
  background-size: cover;
  background-position: center;
}

.characterCreator {
  background-image: url('../../assets/mountains.jpg') ; 
  background-size: cover;
  background-position: center;
  .verticalSeparator {
    border-bottom: solid 1px black;
  }
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  background: $lightGray_50 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
  width: 1em;
  background-size: 75%;
  border-left: 1px solid #BBB;
  opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

input[type=number]:hover::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  cursor:pointer;
  display:block;
  //width:2rem;
  //background-color: red;
  //color: white;
  // background: #333;  
  // width: 14px;
  // height: 14px;
  // padding: 4px;
  // position: relative;
  // color: white;
  // right: 4px;
  // border-radius: 28px;
}