@import './misc/settings';

html {
  box-sizing: 'border-box';
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: black;
  font-family: 'Francois One';

  .MuiTooltip-tooltip {
    font-size: 1.4rem;
    position: relative;
    bottom: 0.8rem;
  }
}



#root, #charPopout {
  div.App {
    div.mainView {
      position: absolute;
      height: 100%;
      width: 100%;
      color: white;

      .error {
        background-color:  $bright_50;
        color: $errRedBright;
        font-size: 1rem;
        text-shadow: 1px 1px 2px #1a0000;
        padding: 0 2rem;
        
      }

      .MuiGrid-item {
        text-align: center;
      }

      
      
    }
  }
}

@import './game/game';
@import './account/loginRegister';
@import './misc/card';
@import './misc/panes';
@import './misc/quill';