div.homeView {
  background-image: url('../../assets/forest1080.jpg') ; 
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  height: 100%;
  width: 100%;
  
  h1 {
    margin-top: 10rem;
    text-align: center;
    text-shadow: 2px 2px #1a0000
  }

  div.accountActions {
    text-align: center;
    padding: 1rem;
    width: 15rem;
    margin: auto;
    margin-top: 5rem;

    span {
      display: block;
      margin: 0.5rem 0;
    }

    a {
      text-shadow: 2px 2px black;
      font-size: 1.3rem;
    }
  }
}

.loginPage {
  background-image: url('../../assets/forest1080.jpg') ; 
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  height: 100%;
  width: 100%;

  div.loginView {
    form.loginForm {
      text-align: center;
      padding: 1rem;
      margin: auto;
  
      svg {
        height: 3rem;
        width: 3rem;
      }
  
      button {
        width: 10rem;
      }
    }
  }
}
.registerPage {
  background-image: url('../../assets/forest1080.jpg') ; 
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;

  div.registerView {
    padding-bottom: 1rem;
  
    svg {
      height: 3rem;
      width: 3rem;
    }
  }
}
